body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #00bcd4;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header span {
  color: white;
}

.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
  text-align: center;
  margin-top: 62px;
}

.form-container {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 8px;
}

.avatar {
  margin-bottom: 20px;
}

.avatar-icon {
  width: 100px;
  height: 100px;
  background-color: #8bc34a;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid, .fa-user-tie {
  color: white;
}

::placeholder {
  color: white;
}



.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-group input {
  width: 48%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"] {
  background-color: #00bcd4;
  color: white;
  border: none;
}

input[type="email"] {
  background-color: #00bcd4;
  color: white;
  border: none;
}

input[type="password"] {
  background-color: #00bcd4;
  color: white;
  border: none;
}

input[type="password"].repeat-password {
  background-color: #ffa726;
  color: white;
  border: none;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}
